<body>
	<a href="/">Home</a>
	<a href="/about/">About</a>
	<a href="/blog">Blog</a>
	
	<h1>Welcome</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis inventore repellat quo, blanditiis distinctio consectetur ab nisi, eveniet qui sed quae minima vero sequi aspernatur? Exercitationem, eius sit? Sit, totam!</p>
</body>